@implements IDialogContentComponent<GrpcService.Core.User>
@inject Translation.I18nService i18n
@inject Client.GrpcServices.AdminService adminService
@inject Dialog.BusyDialogService busyDialogService
@inject IDialogService dlg
@inject IJSRuntime js

<FluentDialogHeader ShowDismiss="true">
    <FluentLabel Typo="Typography.PaneHeader">
        @i18n.Text.User
    </FluentLabel>
</FluentDialogHeader>

<FluentDialogBody>
    <form @onsubmit="SendAsync" style="width: 100%;">
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="MainLayout.StackGap">
            <FluentTextField @bind-Value=_user.FirstName TextFieldType="TextFieldType.Text" style="width: 100%;">@i18n.Text.FirstName</FluentTextField>
            <FluentTextField @bind-Value=_user.LastName TextFieldType="TextFieldType.Text" style="width: 100%;">@i18n.Text.Lastname</FluentTextField>
            <FluentTextField @bind-Value=_user.Email TextFieldType="TextFieldType.Email" Required="true" style="width: 100%;">@i18n.Text.Email</FluentTextField>
            <FluentTextField @bind-Value=_user.Phone TextFieldType="TextFieldType.Tel" style="width: 100%;">@i18n.Text.Phone</FluentTextField>

            <FluentCard>
                <FluentStack VerticalGap="MainLayout.StackGap" Orientation="Orientation.Vertical">
                    <FluentLabel>@i18n.Text.Style</FluentLabel>

                    <FluentSlider @bind-Value=_user.Theme.BaseLayerLuminance Style="width: 100%;" Min="0f" Max="1f" Step="0.01f">
                        <FluentSliderLabel Position="0">@i18n.Text.StyleDark</FluentSliderLabel>
                        <FluentSliderLabel Position="1">@i18n.Text.StyleLight</FluentSliderLabel>
                    </FluentSlider>
                    <br />
                    <input type="color" style="width: 100%;" @bind="_user.Theme.AccentBaseColor" />
                </FluentStack>
            </FluentCard>

            <FluentTextArea @bind-Value=_user.Note Style="width: 100%;">@i18n.Text.Note</FluentTextArea>
            <div style="width: 100%;">
                <FluentDatePicker @bind-Value="_tokenEx" Label="@i18n.Text.TokenDateOfExpiry" Style="width: 100%;"></FluentDatePicker>
            </div>
            

            @if (string.IsNullOrEmpty(_user.Password) == false)
            {
                <FluentButton OnClick="CopyToClipboard">@i18n.Text.CopyApiKey</FluentButton>
            }

            @if (_err is not null)
            {
                <FluentLabel Color="Color.Error">
                    @_err
                </FluentLabel>
            }

            <FluentButton Style="width: 100%;" Type="ButtonType.Submit">@i18n.Text.Save</FluentButton>
        </FluentStack>
    </form>
</FluentDialogBody>

@if (_create)
{
    <FluentDialogFooter Visible="false">
    </FluentDialogFooter>
}
else
{
    <FluentDialogFooter>
        <FluentButton OnClick="DeleteUserAsync">@i18n.Text.DeleteUser</FluentButton>
    </FluentDialogFooter>
}

@code {

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [Parameter]
    public GrpcService.Core.User Content { get; set; } = default!;

    string? _err;
    GrpcService.Core.User _user = new();
    DateTime? _tokenEx = DateTime.Today.AddMonths(1).Date;

    bool _create = false;
    bool _init = false;

    protected override void OnParametersSet()
    {
        if (_init == false)
        {
            _init = true;

            Dialog.Instance.Parameters.PreventDismissOnOverlayClick = true;
            _user.MergeFrom(Content);
            _create = string.IsNullOrEmpty(_user.UserId);
        }
    }

    private async Task CopyToClipboard()
    {
        await js.InvokeVoidAsync("toClipboard", _user.Password);
    }

    private async Task SendAsync()
    {
        _err = null;

        if (_tokenEx?.Date < DateTime.Now.AddDays(1).Date)
            _tokenEx = DateTime.Now.AddDays(1).Date;

        if (_tokenEx?.Ticks is long l)
            _user.Ticks = l;

        string? res = null;
        await busyDialogService.ShowBusyAsync();
        try
        {
            if (adminService.IsLogin)
            {
                if (_create)
                {
                    res = await adminService.UserAddAsync(_user);
                }
                else
                {
                    res = await adminService.UserChangeAsync(_user);
                }
            }
            Content.MergeFrom(_user);
        }
        catch (Exception ex)
        {
            res = ex.Message;
        }
        await busyDialogService.CloseBusyAsync();

        if (res is not null)
        {
            _err = res;
        }
        else
        {
            await Dialog.CloseAsync();
        }
    }

    private async Task DeleteUserAsync()
    {
        var dlgRef = await dlg.ShowConfirmationAsync(i18n.Text.ReallyDelete, i18n.Text.Yes, i18n.Text.No, Content.Email);
        var dlgRes = await dlgRef.Result;
        if (dlgRes.Cancelled == false)
        {
            string? res = null;
            await busyDialogService.ShowBusyAsync();
            try
            {
                res = await adminService.UserDeleteAsync(Content);
            }
            catch (Exception ex)
            {
                res = ex.Message;
            }
            await busyDialogService.CloseBusyAsync();

            if (res is not null)
            {
                _err = res;
            }
            else
            {
                await Dialog.CloseAsync();
            }
        }
    }
}
